main {
    .folder {
        width: 80%;
        min-width: 600px;
        height: 150px;
        margin: auto;
        border-left: solid 1px var(--border);
        border-bottom: solid 1px var(--border);
        border-right: solid 1px var(--border);
        transition: all 0.15s ease-in-out;
        display: flex;
        cursor: pointer;
        .fa-solid {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
            height: 100%;
            width: 150px;
            border-right: 1px solid var(--border);
            transition: all 0.15s ease-in-out;
        }
        .textContent {
            flex-grow: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h2 {
                font-size: 50px;
                margin: -6px 0 8px 0;
            }
            p {
    
            }

        }
        &:hover {
            background-color: var(--text);
            * {
                color: var(--background);
            }
            .fa-plus {
                border-right: 1px solid var(--background);
            }
        }
    }
    .createFolder {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        h2 {
            text-align: center;
            flex-grow: 1;
            font-size: 50px;
            padding: 45px 25px;
            height: 100%;
            transition: all 0.15s ease-in-out;
        }

    }
}
.modalContent {
    background-color: var(--background);
    padding: 10px;
    width: 450px;
    .modalHead {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .modalForm {
        .formItemContainer {
            display: flex;
            flex-direction: column;
            margin-bottom: 2px;
            .formLabel {
                padding: 2px;
            }
        }
        .formSubmitBtn { 
            border: 1px solid var(--border);
            background-color: var(--background);
            color: var(--text);
            padding: 5px;
            font-size: 26px;
            font-weight: 700;
            margin-top: 10px;
        }
    }
}