* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}
:root {
  --text: #e3e9ed;
  --background: #101519;
  --primary: #4f5378;
  --secondary: #0c0a0f;
  --accent: #6d5b8b;
  --border: #e3e9ed46;

  --red: #ffadad;
  --orange : #ffd6a5;
  --yellow : #fdffb6;
  --green : #caffbf;
  --lightblue : #9bf6ff;
  --blue : #a0c4ff;
  --purple : #bdb2ff;
  --pink : #ffc6ff;
  --white : #fffffc;
}
body {
    background-color: var(--background);
}
main {
    width: 60%;
    margin: auto;
    min-width: 1000px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
button {
    font-family: 'Rubik', sans-serif;
}

button {
    font-size: 20px;
    font-weight: 500;
}

h1 {
    font-size: 30px;
    font-weight: 900;
}
